<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Kill da Zombies..Again</title>
		<meta charset="UTF-8">
		
	</head>
	<body>
		{{{ body }}}

        <button id="addButton">Add Zombo</button>
        <input type="text" name="zombName" id="zombieInput">



	{{!-- Add in jQuery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/app.js"></script>
	</body>
</html>